/* :root{
    --
} */

*{
    margin: 0;
}

h1, h2, h3, span{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

p{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    padding: 1rem;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    border-bottom: 5px solid #032D76;;
}

#options{
    display: flex;
    justify-content: right;
    align-items: center;
}

#options h3{
    margin: 0rem 2rem;
    cursor: pointer;
}

#options h3:hover{
    border-bottom: 2px solid #ffffff;
}

/* ------ */
.modal {
  display: none; 
  position: absolute; 
  z-index: 1; 
  right: 130px;
  top: 65px;

  transition: opacity 0.3s ease-in-out; 
  opacity: 0;
}

#modal-content {
  background-color: #ff0000;
  margin: auto;
  padding: 0;
  border: 1px solid #888;

  width: 0;
  height: 0;
  opacity: 0;

  transition: all 1s ease-in-out;
  overflow: hidden;
}

.modal.active {
    display: flex; 
    opacity: 1; 
}

.modal.active #modal-content{
    width: 500px; 
    height: 300px; 
    padding: 20px; 
}


/* ------ */

#asteroidContainer{
    display: block;
    background-color: #1B1B1B;
    box-shadow: 2px 5px 2px 2px rgb(0 0 0 / 20%);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    text-align: center;

    width: 150px; 
    height: 35px; 
    transition: width 1s, height 2s, background-color 3s;
    
    overflow: hidden;
}

#asteroidClose{
    cursor: pointer;
    align-content: center;
    
}

#asteroidBody{
    display: none;
}

#infoAsteroidHTML div{
    border: 2px solid rgb(253, 253, 253);
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
    background-color: #1B1B1B;
}

#asteroidContainer.open{
    width: 350px;
    height: 590px;

    background-color: #032D76;
}

#asteroidContainer.open #asteroidBody{
    display: block;
}

#asteroidContainer.open #asteroidClose span:hover {
    border-bottom: 2px solid black;
}

/* ------ */

#infoImageHTML{
    text-align: center;
    color: rgb(0, 0, 0);
    /* border: 2px solid white; */

    & h2{
        padding: 1rem;
        font-size: 35px;
        border-left: 5px solid black;
    }

    & img{
        width: 100%;
        border-bottom: 10px solid #032D76;
        /* border-top: 5px solid #000000; */
    }

    & p {
        padding: .5rem;
        margin: 0 15%;
    }
}