*{
    margin: 0;
}

h1, h2, h3, span, a{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

p{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a{
    text-decoration: none;
    color: white;
}

header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    padding: 1rem;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    border-bottom: 5px solid #032D76;;
}

#options{
    display: flex;
    justify-content: right;
    align-items: center;
}

#options h3{
    margin: 0rem 2rem;
    cursor: pointer;
}

#options h3:hover{
    border-bottom: 2px solid #ffffff;
}

/* ------ */
.modal {
  display: none; 
  position: absolute; 
  z-index: 1; 
  right: 170px;
  top: 60px;
}

#modal-content {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border: 1px solid #1B1B1B;

    margin: auto;
    padding: 0;
}

.modal.active {
    display: flex; 
    opacity: 1; 
}

.modal.active #modal-content{
    width: auto; 
    height: auto;
    padding: 1rem; 
}

.aOptions{
    padding: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
}

.aOptions:hover{
    border-bottom: 2px dotted white;
}

/* ------ */

#asteroidContainer{
    display: block;
    background-color: #1B1B1B;
    box-shadow: 2px 5px 2px 2px rgb(0 0 0 / 20%);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    
    position: fixed;
    bottom: 5rem;
    right: 2rem;

    text-align: center;

    width: 150px; 
    height: 35px; 
    transition: width 1s, height 2s, background-color 3s;
    
    overflow: hidden;
}

#asteroidClose{
    cursor: pointer;
    align-content: center;
    
}

#asteroidBody{
    display: none;
}

#infoAsteroidHTML div{
    border: 2px solid rgb(253, 253, 253);
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
    background-color: #1B1B1B;
}

#asteroidContainer.open{
    width: 350px;
    height: 590px;

    background-color: #032D76;
}

#asteroidContainer.open #asteroidBody{
    display: block;
}

#asteroidContainer.open #asteroidClose span:hover {
    border-bottom: 2px solid black;
}

/* ------ */

#infoImageHTML{
    text-align: center;
    color: rgb(0, 0, 0);

    & h2{
        padding: 1rem;
        font-size: 35px;
    }

    & img{
        width: 100%;
        border-bottom: 10px solid #032D76;
    }

    & p {
        padding: .5rem;
        margin: 0 15%;
    }
}

#menu{
    display: none;
}

/* ------ Smarth Phone display */

@media (max-width: 37.5rem) {
    #menu {
    display: block;
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

    #menu::before {
        content: "☰";
        color: white;
    }

    #menu.open::before {
        content: "❌";
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;

        color: #fff;
    }

    .navigation h3{
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .navigation  h3:hover {
        border-bottom: 2px dotted white;
    }

    .open  h3{
        display: block;
    }
}

/* ------ */

footer{
    background-color: black;
    padding: .5rem;
    text-align: center;
    color: white;

    position: fixed;
    bottom: 0;
    width: 100%;
}

.lastM{
    color: yellow;
    font-size: 13px;
    margin-top: .5rem;
}